- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Share your inspiration and see what inspires others
- else
	%p#intro
		What makes you
		%span#logo_span
			Wobbble?
		%br/
		%span
			Share your inspiration and see what inspires others			
#posts
	- @posts.each do |post|
		.post
			.post_image
				= link_to (image_tag post.image.url(:small)), post
			.post_content	
				.title
					%h2= link_to post.title, post
					.data.clearfix
						%p.username
							=link_to (image_tag post.user.avatar.url(:thumb)), profile_path(post.user.id)
							= link_to post.user.name, profile_path(post.user.id)
						%p.buttons
							%span
								%i.fa.fa-comments-o
								= post.comments.count
							%span
								%i.fa.fa-thumbs-o-up
								= post.get_likes.size
